*{
  font-family: 'Kurale', serif;
  background: hsl(227, 10%, 10%);
}
h2, h3{
  font-family: 'Space Mono', monospace;
}
a{
  font-family: 'Gilda Display', serif;
}
div{
  margin: 0px 5% 0px 5%;
}
html{

}
hr{
  color: black;
  background-color: black;
}
#title{
  margin: 0px;
  /*background: hsla(227, 10%, 10%, .5);*/
}
