h2{
  font-weight: bold;
}
.bold-font{
  font-weight: bold;
}
i{
  list-style: none;
  display: inline;
}
li a{
  text-decoration: none;
  color: inherit;
  margin: inherit;
  padding: inherit;
}
@media screen and (min-width: 600px){
  /*#navigation ul li a{
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 0px 10px;
    border: double white 3px;
  }
  #navigation{
    margin-bottom: 10px;
  }*/
}
