h2{
  font-weight: bold;
}
.bold-font{
  font-weight: bold;
}
i{
  list-style: none;
  display: inline;
}
li a{
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 600px){
  #navigation ul li a{
    font-size: 40px;
    margin: 0px 10px 0px 10px;
  }
}
