#title nav ul li{
  display: block;
  text-align: right;
}
#title nav{
  display: none;
}
.icon-list2{
  font-size: 2em;
  margin: 20px;
}
.icon-list2:hover ~ #navigation{
  display: block;
}
@media screen and (min-width: 600px){
  #title img, #title nav, #title nav ul, #title nav ul li{
    display: inline;
  }
  .icon-list2{
    display: none;
  }
}
